@import "../../styles/main.scss";

.card {
    // cursor: pointer;
    border-radius: 20px;
    border: 2px solid $primary-gray-light;
    overflow: hidden;

    // -webkit-perspective: 500px;
    // -moz-perspective: 500px;
    // -o-perspective: 500px;
    // perspective: 500px;
}
