@import "./variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: arial, sans-serif; //$font-primary;
    color: $primary-white;
    font-weight: 300;
    line-height: 1.6;
    background-color: black;
    // position: relative;
    // &::before {
    //     content: "<Header>";
    //     display: inline-block;
    //     position: absolute;
    //     font-style: italic;
    //     left: 2%;
    //     top: 2%;
    //     z-index: 2;
    //     color: #ffffffde;
    // }
}

.container {
    // Dispay grid
    display: grid;
}
