@import "../../styles/main.scss";

.intro {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 100vw;
    // background-color: yellowgreen;
    overflow: hidden;
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    // svg {
    //     max-height: 50vh;
    // }
    .svg {
        height: 6rem;
        width: 5rem;
        cursor: pointer;
        &:hover rect:nth-child(2) {
            fill: pink;
            transform: translateY(-1rem);
        }
        &:hover rect:nth-child(3) {
            fill: pink;
            transform: translate(-1rem, -1rem);
        }
        &:hover rect:nth-child(4) {
            fill: pink;
            transform: translateY(-2rem);
        }

        @include respond(tab-land) {
            height: 10rem;
            width: 5rem;
        }

        rect {
            height: 2rem;
            width: 2rem;
            transition: 0.3s;

            // @include respond(tab-land) {
            //     height: 2.5rem;
            //     width: 2.5rem;

            //     // &:nth-child(1) {
            //     //     transform: translateY(1.5rem);
            //     // }

            //     &:nth-child(2) {
            //         transform: translateY(3.5rem);
            //         // display: none;
            //     }
            //     &:nth-child(3) {
            //         transform: translateY(7rem);
            //         // display: none;
            //     }
            //     &:nth-child(4) {
            //         transform: translate(3.5rem, 7rem);
            //         // display: none;
            //     }
            // }
        }
    }

    .intro__txts {
        // background-color: blue;
        position: relative;
        height: 100%;

        .intro__txt {
            display: block;
            position: absolute;
            width: 100%;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            opacity: 0;
            color: $primary-gray-dark;
            text-transform: uppercase;
            font-style: italic;
            text-align: center;
            letter-spacing: 0.3rem;
            margin: 2rem auto;
            font-size: 2rem;
        }
    }
}
