@import "../../styles/main.scss";

.nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    // background-color: yellowgreen;
    padding: 1rem;
    margin: 1rem auto 0 auto;

    @include respond(tab-land) {
        // max-width: 1300px;
        padding: 2rem;
    }
    @include respond(big-desktop) {
        padding: 3rem;
    }

    &__list {
        display: grid;

        list-style: none;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;

        @include respond(tab-land) {
            grid-template-columns: repeat(4, 1fr);
            grid-row: 1fr;
            max-width: 1300px;
        }

        @include respond(screen) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &__link,
    &__link:visited,
    &__link:active {
        position: relative;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.2s;

        color: white;
    }

    &__link {
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            right: 0px;
            bottom: -3px;
            left: 0px;

            background-color: white;

            background: linear-gradient(to right, white 10%, black 75%);
        }
    }

    &__link:hover {
        &::before {
            background: white;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        // On mobile view logo on top spans over three columns
        // On tablet - landscape logo and links in one row
        // On screen - logo aligned to the left links on the right two empty columns between

        &:nth-child(1) {
            // LOGO
            grid-column: span 3;
            justify-self: center;
            @include respond(tab-land) {
                grid-column: 1;
            }
        }
        &:nth-child(2) {
            @include respond(screen) {
                grid-column: 4;
            }
        }
        &:nth-child(3) {
            @include respond(screen) {
                grid-column: 5;
            }
        }
        &:nth-child(4) {
            @include respond(screen) {
                grid-column: 6;
            }
        }

        .svg {
            height: 5rem;
            width: 5rem;

            rect {
                height: 2rem;
                width: 2rem;
                @include respond(tab-land) {
                    height: 2.5rem;
                    width: 2.5rem;

                    &:nth-child(2) {
                        transform: translateY(10%);
                    }
                    &:nth-child(3) {
                        transform: translateY(20%);
                    }
                    &:nth-child(4) {
                        transform: translate(10%, 20%);
                    }
                }
            }
        }
    }
}
