@import "./styles/main.scss";

.section {
    position: relative;

    &--services {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        border: 2px red solid;
    }

    &--projects {
        min-height: 100vh;
        border: 2px green solid;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.section--contact {
    display: flex;
    justify-content: center;
}
.contact {
    max-width: 120rem;

    .form-container {
        display: flex;
        flex-direction: column;
        max-width: 130rem;

        @include respond(tab-port) {
            flex-direction: row;
        }

        &__txt {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 3rem;
            padding: 2rem 1rem;
            width: 90%;
            @include respond(tab-port) {
                flex: 0 0 50%;
            }

            // align-items: center;
        }
    }
}
