@import "./styles/main.scss";
.section--contact {
    display: flex;
    justify-content: center;
}
.contact {
    max-width: 120rem;

    .form-container {
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            flex-direction: row;
        }

        &__txt {
            display: flex;
            flex-direction: column;
            // align-items: center;
        }
    }
}
