.progress {
    width: 90%;
    margin: 0 5%;
    height: 0.5rem;
    color: red;

    //height: 5%;
}

progress::-webkit-progress-value {
    background: #f9f9f9;

    border-radius: 5px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #252526;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
